# These packages are optional for vis.
# Improved performance for pandas.
numexpr>=2.2.2
Bottleneck>=0.7.0

# Code analysis to make sure we comply by PEP 8, and PEP 257 standards.
pylint

# For testing, coverage, stuff like that.
mock==1.0.1
coverage
python-coveralls
