# These packages are required for Vizitka to run 'run_tests.py'.
# Don't use this for a requirements file. Rather, use 'requirements.txt' and then 'optional_requirements.txt' (if desired).
music21==5.3.0
pandas==0.23.4


# For testing, coverage, stuff like that.
mock==1.0.1
coverage
python-coveralls
